body {
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  color: black;
  background-color: #000000;
  width: 99%;
}

.heading {
  color: #000000;
  text-align: center;
  font-size: 80;
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
}
tr {
  border: 1px solid #000000;
  border-collapse: collapse;
}
td {
  border: 1px solid #000000;
  border-collapse: collapse;
}
th {
  border: 1px solid #000000;
  border-collapse: collapse;
}
.tb1 {
  border: 1;
  width: 80%;
  border: 1px solid black;
  align-items: center;
  margin: auto;
}
.heading2 {
  align-items: center;

  border: 1;
  height: 10px;
  background-color: rgb(243, 230, 222);
  font-size: 12px;
  margin: 20%;
}
.heading3 {
  text-align: center;
  padding-bottom: 10px;
  background-color: rgb(189, 218, 194);
  font-size: 12px;
}
.heading6 {
  text-align: center;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(189, 218, 194);
  font-size: 12px;
}

.heading4 {
  align-items: center;
  background-color: rgb(189, 218, 194);
  padding: 10px;
  font-size: 12px;
}
.headings5 {
  text-align: center;
  background-color: rgb(49, 114, 189);
  padding: 10px;
  font-size: 12px;
}

.week {
  text-align: left;
  background-color: rgb(211, 212, 216);
  font-size: 12px;
  padding: 10px;
}
.eng {
  background-color: rgb(230, 93, 116);
  padding: 10px;
  font-size: 14px;
}
.comp {
  background-color: rgb(130, 219, 130);
  padding: 10px;
  font-size: 14px;
}
.math {
  background-color: rgb(214, 153, 73);
  padding: 10px;
  font-size: 14px;
}

.phy {
  background-color: rgb(151, 97, 53);
  padding: 10px;
  font-size: 14px;
}
.chem {
  background-color: rgb(42, 236, 16);
  padding: 10px;
  font-size: 14px;
}
.break {
  background-color: lightblue;
  padding: 10px;
  font-size: 14px;
}
.urdu {
  background-color: rgb(138, 93, 180);
  padding: 10px;
  font-size: 14px;
}
.islam {
  background-color: rgb(127, 235, 168);
  padding: 10px;
  font-size: 14px;
}
.pakistan {
  background-color: rgb(240, 124, 124);
  padding: 10px;
  font-size: 14px;
}

.wednesday {
  background-color: rgb(65, 187, 235);
}
.wednesdayclr {
  background-color: rgb(173, 216, 230);
}
.red {
  background-color: rgb(255, 0, 0);
}
